# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link-private

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
