[include]
        path = ~/.gitconfig.identity
[core]
        # Always work with lf line endings
        autocrlf = input
        whitespace = fix,space-before-tab,tab-in-indent,trailing-space
        # Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore_global
        attributesfile = ~/.gitattributes
        filemode = false

[push]
        # force explicit remote declaration (must use `git push origin master` etc)
        default = nothing
[pull]
        # Always rebase when pulling. Prevents "merge remote tracking branch" merge commits on pull, keeps history clean
        rebase = true
[fetch]
        # Auto prune local tracking branches that are deleted upstream. Keeps things tity
        prune = true
[diff]
        # Use patience diff instead of myers, produces more sane diffs especially with larger changesets
        algorithm = patience
[merge]
        # Include summaries of merged commits in newly created merge commit messages
        log = true
        # Never Perform fast forward merges by default (must use --ff to force)
        ff = no
[apply]
        whitespace = fix

# Colors
[color]
        ui = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan

# URL Shortcuts
[url "git@github.com:"]
        insteadOf = "gh:"
        pushInsteadOf = "github:"
        pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
        insteadOf = "github:"
[url "git@gist.github.com:"]
        insteadOf = "gst:"
        pushInsteadOf = "gist:"
        pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
        insteadOf = "gist:"
[url "git@heroku.com:"]
        insteadOf = "heroku:"
